<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header id = banner>
        <h1>GPS vizu</h1>
    </header>

    <article>
        
        <div id = maincol>
            <div id = plot1>
                {{ plot|safe }}
            </div>
            <div class = "description">
                <div>Date : {{ date }}</div>
                <div>Start time: {{ start_time }}</div>
                <div>End time: {{ end_time }}</div>
                <div>Duration: {{ duration }}</div>
                <div>Location : </div>
            </div>
        </div>
        
    </article>


</body>
</html>